Project code

In [13]:
# Scrape data for historical funding figures

import requests
from bs4 import BeautifulSoup
import pandas as pd


# Get the webpage
url = 'https://www.uksport.gov.uk/our-work/investing-in-sport/historical-funding-figures'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

# Find the heading before the table
heading = soup.find('h3', string="Summer Olympic Sports")

# Get the next table after the heading
table = heading.find_next('table') 

# Extract and save the data

rows = table.find_all('tr')

funding = []
for row in rows:
    cells = row.find_all(['th', 'td'])
    values = [cell.get_text(strip=True) for cell in cells]
    if values:  # skip empty rows
        funding.append(values)

funding_df = pd.DataFrame(funding[1:], columns=funding[0])

                Sport        London           Rio       Tokyo**        Paris*
0             Archery    £3,479,900    £2,473,437    £1,122,879    £2,632,674
1   Artistic Swimming    £2,686,800    £1,011,290      £251,000      £467,250
2           Athletics   £20,613,100   £21,820,808   £22,416,808   £22,175,520
3           Badminton    £5,979,860    £4,922,229      £889,793    £3,322,558
4            Baseball             -             -       £30,500      £176,250
5          Basketball    £7,127,800    £1,927,061      £330,500    £1,350,000
6              Boxing    £7,551,900   £11,151,737   £11,606,057   £11,597,507
7            Breaking             -             -             -      £135,000
8            Canoeing   £12,981,800   £16,293,651   £15,765,693   £13,081,836
9             Cycling   £20,613,900   £23,966,916   £24,559,306   £29,172,590
10             Diving    £5,190,700    £6,133,760    £7,172,659    £8,860,542
11         Equestrian   £10,580,200   £14,397,300   £11,951,195   £11,763,376
12            Fencing    £2,132,346    £3,593,344      £341,631    £1,542,015
13         Gymnastics    £8,734,100   £11,791,228   £13,285,417   £13,180,313
14           Handball    £2,924,721             -        £8,400      £375,000
15             Hockey   £11,915,500   £12,489,618   £12,640,301   £13,379,120
16               Judo    £6,048,700    £6,004,700    £6,425,471    £6,244,538
17             Karate             -             -      £771,439             -
18  Modern Pentathlon    £4,990,900    £5,586,124    £5,176,847    £5,360,432
19             Rowing   £21,579,000   £26,156,762   £23,682,934   £22,822,008
20            Sailing   £18,133,000   £21,469,835   £21,796,891   £22,348,411
21           Shooting    £2,461,866    £3,452,146    £5,892,790    £6,130,092
22      Skateboarding             -             -      £178,165    £1,819,485
23           Softball             -             -       £62,500      £428,750
24     Sport Climbing             -             -      £737,365    £1,629,345
25            Surfing             -             -      £131,093    £1,350,000
26           Swimming   £20,195,800   £17,138,391   £18,046,062   £18,242,735
27       Table Tennis    £1,132,648             -      £325,100    £1,350,000
28          Taekwondo    £3,827,600    £6,653,992    £8,158,805    £8,194,987
29          Triathlon    £4,210,100    £6,308,664    £6,808,283    £7,005,550
30         Volleyball    £3,993,318      £108,466       £73,350      £286,000
31         Water Polo    £2,874,544      £890,725             -      £375,000
32      Weightlifting    £1,246,157    £1,470,540      £215,900    £2,270,000
33          Wrestling    £1,435,210             -       £50,700      £276,000
34              Total  £214,641,470  £227,212,724  £220,906,834  £239,344,884